.containerHasError{
    display: flex;
    align-items: center;
    gap: 24px;
}

.containerHasError strong{
    color: var(--danger-color-main);
    font-size: 22px;
}

.containerHasError button{
    margin-top: 8px;
}

.containerHasError div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}