.spinner {
  border: 4px solid var(--text-color-100);
  border-radius: 50%;
  border-left-color: var(--primary-color-dark);
  position: absolute;
  animation: spin 1s ease infinite;
}

.spinnerMax{
  width: 6em;
  height: 6em;
}

.spinnerMin{
  width: 24px;
  height: 24px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}