.contacts{
    width: 100%;
}

.headerList{
    margin-bottom: 8px;
}

.headerList > button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerList > button > span{
    font-weight: bold;
    color: var(--primary-color-main);
}

.headerList > button > img{
    transition: .2s ease-in;
}

.desc{
    transform: rotate(180deg);
}

.containerCards{
    display: flex;
    flex-direction: column;
    gap: 16px;
}